/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icons-sprite, .icons-facebook, .facebook:before, .icons-tumblr, .icons-twitter, .twitter:before, .icons-vimeo {
  background: url('/img/icons-sa5e9bd7b09.png') no-repeat;
}

.icons-facebook, .facebook:before {
  background-position: 0 -96px;
}

.icons-tumblr {
  background-position: 0 -64px;
}

.icons-twitter, .twitter:before {
  background-position: 0 -32px;
}

.icons-vimeo {
  background-position: 0 0;
}

li {
  margin-bottom: .5em;
}

a {
  border: 1px solid black;
  display: block;
  padding: 0 0 0 40px;
  line-height: 32px;
  position: relative;
}
a:before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
}
