// Reset no longer needed if you're using Bootstrap. But add it back if you don't want to use Bootstrap.

@import "reset";
@import "icons/*.png";

@include all-icons-sprites;

li {
    margin-bottom: .5em;
}

a {
    border: 1px solid black;
    display: block;
    // height: 32px;
    padding: 0 0 0 40px;
    line-height: 32px;
    position: relative;

    &:before {
        content: "";
        width: 32px;
        height: 32px;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.twitter {
    &:before {
        @extend .icons-twitter;
    }
}

.facebook {
    &:before {
        @extend .icons-facebook;
    }
}
